<!DOCTYPE html>
<html lang="en">
<head>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.rawgit.com/eligrey/FileSaver.js/5ed507ef8aa53d8ecfea96d96bc7214cd2476fd2/FileSaver.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
  <script type="text/javascript">
  $(function(){
    $("#save").click(function() {
      window.scrollTo(0,0);
      html2canvas($("#downloadImage"), {
        onrendered: function(canvas) {
          canvas.toBlob(function(blob) {
            saveAs(blob, 'image.png');
          });
        }
      });
      window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
    });
  });

  </script>
  <meta charset="UTF-8">
</head>
<body>
<div id="downloadImage" align="center" style="width:100%;height:3000px !important;background-color:#ffffff;">
  <pre>
  $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);

     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);


     $user = $this->_objectManager->get('Magento\Backend\Model\Auth\Session')->getUser();
        $login->generate($user->getId());
        // We're not using the $customer->getStoreId() method due to a bug where it returns the store for the customer's
        // website
        $customerStoreId = $customer->getData('store_id');

        $store = $this->_objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore($customer->getStoreId());
            ->getStore($customerStoreId);
        $url = $this->_objectManager->get('Magento\Framework\Url')
            ->setScope($store);
  </pre>
  3412343214321
  3241123413223

</div>

<div>

  <button id="save" style="font-size: 60px">저장하기</button>

</div>
</body>
</html>